/components/build/reports/tests/test/css/base-style.css
/components/build/classes/java/main/board/Board.class
/components/build/classes/java/test/BoardTest.class
/components/build/reports/tests/test/classes/BoardTest.html
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/components/build/classes/java/main/board/Cell.class
/.idea/compiler.xml
/components/build/libs/components-1.0-SNAPSHOT.jar
/components/build/classes/java/main/board/Coordinates.class
/components/build/reports/tests/test/packages/default-package.html
/.gradle/file-system.probe
/components/.gradle/8.14/fileHashes/fileHashes.bin
/components/build/classes/java/main/game/Game$Builder.class
/components/build/tmp/compileJava/compileTransaction/stash-dir/Game$Builder.class.uniqueId5
/components/build/classes/java/main/game/Game.class
/components/build/tmp/compileJava/compileTransaction/stash-dir/Game.class.uniqueId0
/components/build/classes/java/main/game/GameDriver.class
/components/build/tmp/compileJava/compileTransaction/stash-dir/GameDriver.class.uniqueId8
/components/build/classes/java/test/GameTest.class
/.gradle/8.14/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/components/build/classes/java/main/player/strategy/HumanStrategy.class
/components/build/tmp/compileJava/compileTransaction/stash-dir/HumanStrategy.class.uniqueId1
/components/build/reports/tests/test/index.html
/components/build/tmp/jar/MANIFEST.MF
/components/build/classes/java/main/player/strategy/MiniMaxStrategy.class
/components/build/tmp/compileJava/compileTransaction/stash-dir/MiniMaxStrategy.class.uniqueId7
/.idea/misc.xml
/components/build/classes/java/main/board/Occupant.class
/components/build/test-results/test/binary/output.bin
/components/build/test-results/test/binary/output.bin.idx
/.gradle/buildOutputCleanup/outputFiles.bin
/components/build/classes/java/main/player/Player.class
/components/build/tmp/compileJava/compileTransaction/stash-dir/Player.class.uniqueId2
/components/build/classes/java/main/player/PlayerFactory.class
/components/build/tmp/compileJava/compileTransaction/stash-dir/PlayerFactory.class.uniqueId4
/components/build/classes/java/test/Simulation.class
/app/build/tmp/compileJava/previous-compilation-data.bin
/components/build/tmp/compileJava/previous-compilation-data.bin
/components/build/tmp/compileTestJava/previous-compilation-data.bin
/app/build/reports/problems/problems-report.html
/build/reports/problems/problems-report.html
/components/build/reports/problems/problems-report.html
/components/build/reports/tests/test/js/report.js
/app/.gradle/8.14/fileHashes/resourceHashesCache.bin
/components/build/test-results/test/binary/results.bin
/components/build/classes/java/main/player/strategy/Strategy.class
/components/build/tmp/compileJava/compileTransaction/stash-dir/Strategy.class.uniqueId3
/components/build/reports/tests/test/css/style.css
/components/build/test-results/test/TEST-BoardTest.xml
/components/build/classes/java/main/TicTacToe/TicTacToeDriver.class
/components/build/tmp/compileJava/compileTransaction/stash-dir/TicTacToeDriver.class.uniqueId6
/app/build/classes/java/main/org/TicTacToeGUI.class
/app/build/tmp/compileJava/compileTransaction/stash-dir/TicTacToeGUI.class.uniqueId0
/components/build/classes/java/main/TicTacToe/TicTacToePiece.class
/.idea/shelf/Uncommitted_changes_before_Update_at_12_7_2025_3_19_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_12_7_2025_3_20_PM__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
/components/build/tmp/compileJava/compileTransaction/stash-dir/Board.class.uniqueId2
/components/build/tmp/compileTestJava/compileTransaction/stash-dir/BoardTest.class.uniqueId0
/components/build/tmp/compileJava/compileTransaction/stash-dir/Game$Builder.class.uniqueId4
/components/build/tmp/compileTestJava/compileTransaction/stash-dir/GameTest.class.uniqueId1
/components/build/reports/tests/test/classes/GameTest.html
/components/build/tmp/compileJava/compileTransaction/stash-dir/HumanStrategy.class.uniqueId9
/components/build/classes/java/main/TicTacToe/MoveObserver.class
/components/build/tmp/compileJava/compileTransaction/stash-dir/MoveObserver.class.uniqueId5
/components/build/classes/java/main/TicTacToe/MoveSubject$EventType.class
/components/build/tmp/compileJava/compileTransaction/stash-dir/MoveSubject$EventType.class.uniqueId3
/components/build/classes/java/main/TicTacToe/MoveSubject.class
/components/build/tmp/compileJava/compileTransaction/stash-dir/MoveSubject.class.uniqueId1
/components/build/tmp/compileJava/compileTransaction/stash-dir/Player.class.uniqueId11
/components/build/tmp/compileJava/compileTransaction/stash-dir/PlayerFactory.class.uniqueId13
/components/build/tmp/compileJava/compileTransaction/stash-dir/Strategy.class.uniqueId12
/components/build/test-results/test/TEST-GameTest.xml
/components/build/classes/java/main/ui/TicTacToeGUI.class
/components/build/tmp/compileJava/compileTransaction/stash-dir/TicTacToeGUI.class.uniqueId10
/.gradle/
/build/
/components/.gradle/
/components/build/
